@page
@model IndexModel
@{
    ViewData["Title"] = "我的账号";
}

<div class="d-flex align-items-center justify-content-between mb-3">
    <h1 class="h3 mb-0">我的账号</h1>
    <a class="btn btn-primary" asp-page="./ChangePassword">修改密码</a>
</div>

<dl class="row bg-white border rounded p-3">
    <dt class="col-sm-2">账号</dt>
    <dd class="col-sm-10">@Model.UserName</dd>

    <dt class="col-sm-2">姓名</dt>
    <dd class="col-sm-10">@Model.DisplayName</dd>

    <dt class="col-sm-2">邮箱</dt>
    <dd class="col-sm-10">@Model.Email</dd>
</dl>
