@using Microsoft.AspNetCore.Identity
@using ProjectManager.Web.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav app-account-nav">
@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    var displayName = !string.IsNullOrWhiteSpace(user?.DisplayName) ? user.DisplayName : (User.Identity?.Name ?? "使用者");
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="帳號管理">您好，@displayName</a>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link">退出</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">登入</a>
    </li>
}
</ul>
