@model ProjectManager.Web.Models.Project
@using ProjectManager.Web.Services
@inject TimeProvider TimeProvider
@{
    var state = ProjectVisualStateResolver.ResolveRisk(Model, TimeProvider.GetUtcNow());
}

<span class="progress-risk-badge risk-@state.CssKey" title="@state.Description">
    <span class="risk-dot" aria-hidden="true"></span>
    <span>@state.Label</span>
</span>
